Django==5.2.16
djangorestframework==3.17.1
djangorestframework-simplejwt==5.5.1
django-filter==25.1
django-cors-headers==4.7.0
drf-spectacular==0.28.0
psycopg[binary]==3.2.9
python-dotenv==1.1.1
whitenoise==6.9.0
gunicorn==23.0.0
celery==5.5.3
redis==6.4.0
requests==2.32.5
pypdf==5.9.0
python-docx==1.2.0
openpyxl==3.1.5
Pillow==11.3.0
argon2-cffi==25.1.0

selenium==4.46.0
pyautogui==0.9.54
mss==10.1.0
PyGetWindow==0.0.9
